<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Apollo">
        <meta name="description" content="World of Apollo minecraft">
        <meta name="keywords" content="world of apollo">
        <meta name="robots" content="index, nofollow">
        <meta name="revisit-after" content="60 days">
        <meta name="author" content="Slachy_dot">
        <link rel="stylesheet" href="./assets/css/styles.css" />
    </head>

  <!--Web background-->

  <body style="background-image: url(./photos/test.jpg);" class="min-h-screen bg-cover lg:">

      <!--Navbar-->
    <nav class="flex justify-center px-4 text-gray-800 bg-transparent">
      <div class="container py-2">

        <hr class="h-px mt-3 border-gray-300 border-none dark:bg-gray-700">
        <div class="flex flex-col items-center justify-between mt-3 md:flex-row">
        <!--Logo-->
        
        <div>
          <a href="/"><img class="my-nav-logo" src="./photos/Apollo-full.png" alt="Logo" /></a>
        </div>

        <!--Navbar items-->
        <div class="flex mt-6 flex-col-1 md:mt-8 md:m-0">
          <div class="p-2 mx-2 space-x-6 uppercase bg-gray-900 border border-opacity-25 rounded-lg shadow md:space-x-8 xl:ml-10 xl:p-6 sm:p-4 bg-opacity-20 grow">

            <!--Always show -->
            <a href=" #home" class="my-nav-items"><i> Home </i>
            <!--Hide on sm show from md screen  -->
            
            <a href="https://worldofapollo.com/dynmap" class="hidden sm:inline-flex my-nav-items"> Dynmap </a>
            <a href="https://discord.gg/rCBwKTQ" class="hidden sm:inline-flex my-nav-items"> Discord </a>

            <!--Hide on md show from lg screen  -->
            
            <a href="https://bit.ly/2Rttrf2" class="hidden lg:inline-flex my-nav-items"> Apply </a>
            <a href="https://worldofapollo.enjin.com/serverstats" class="hidden lg:inline-flex my-nav-items"> Wiki </a>

            <a href="https://worldofapollo.enjin.com/serverstats" class="hidden lg:inline-flex my-nav-items"> Stats </a>

            

          <div class="inline-flex my-0 my-nav-items dropdown dropdown-end" tabindex="0">
            <div tabindex="0">

            <!-- Dropdown menu will show items from navbar on all screen size -->
            <p> Menu </i>
          </div>
          <ul tabindex="0" class="text-white bg-gray-900 rounded-lg shadow hover-text-blue-300 menu dropdown-content">
            <li>
              <a href="https://worldofapollo.com/dynmap"> Dynmap </a>
            </li>
            <li>
              <a href="https://discord.gg/rCBwKTQ"> Discord </a>
            </li>
            <li>
              <a href="https://bit.ly/2Rttrf2"> Apply </a>
            </li>
            <li>
              <a href="https://worldofapollo.enjin.com/serverstats"> Wiki </a>
            </li>
            <li>
              <a href="https://worldofapollo.enjin.com/serverstats"> Stats </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



        <!--Server name-->
        <div class="mt-56 mt-32:lg"></div>
        <div class="my-4 text-4xl text-center text-gray-200">
            The World of Apollo
        </div>
        <hr class="mx-auto" style="width:30%" />
        <!--Online player counter-->
        <div class="grid grid-cols-1 p-2">
            <div class="my-4 text-xl text-center text-gray-200 place-self-center">
                <div class="p-2 bg-gray-500 rounded-lg">
                    play with <span class="px-1 font-bold text-red-400"
                        data-playercounter-ip="worldofapollo.com">0</span>
                    other players on <span class="pl-1 font-bold text-gray-200">worldofapollo.com</span>
                </div>
            </div>
        </div>

        <!--Content-->

        <!--Change "skeleton" from the links to your Names and change the Names from h3-->
        <div class="container p-6 mx-auto mt-32">
            <h2 class="text-xl font-medium text-center text-gray-200 capitalize md:text-2xl">Our Staff</h2>

            <div class="flex items-center justify-center">
                <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/Chipsanderson/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Chips</h3>
                            <span class="mt-1 font-medium text-red-600">Administrator</span>>
                        </div>
                    </div>

                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/Slachy_dot/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Slachy</h3>
                            <span class="mt-1 font-medium text-red-600">Administrator</span>
                        </div>
                    </div>

                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/Rockzo/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Rockzo</h3>
                            <span class="mt-1 font-medium text-red-600">Administrator</span>
                        </div>
                    </div>

                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/QueenBrit/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">QueenBrit</h3>
                            <span class="mt-1 font-medium text-blue-400">Moderator</span>
                        </div>
                    </div>
                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/Candleliight/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Mod's Name</h3>
                            <span class="mt-1 font-medium text-blue-400">Moderator</span>
                        </div>
                    </div>
                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/Junedude/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Builder's Name</h3>
                            <span class="mt-1 font-medium text-blue-400">Moderator</span>
                        </div>
                    </div>
                    <div class="w-full max-w-xs m-4 text-center">
                        <img class="object-cover object-center h-48 mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105"
                            src="https://minotar.net/avatar/skeleton/100.png" alt="avatar" />

                        <div class="mt-2">
                            <h3 class="text-lg font-medium text-gray-200">Sup's Name</h3>
                            <span class="mt-1 font-medium text-green-700">Supporter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-20"></div>

        <!--Change the # from href from Discord, Teamspeak and Instagram to your links-->
        <footer class="bg-transparent">
            <div class="container px-6 py-4 mx-auto">
                <div class="lg:flex">
                    <div class="mt-6 lg:mt-0 lg:flex-1">
                        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3">

                            <a href="#"
                                class="px-3 font-serif text-sm font-semibold text-gray-100 place-self-center hover:text-indigo-400"><i
                                    class="fab fa-discord"></i> About us</a>

                            <a href="https://www.youtube.com/channel/UC-SYHosAp--xCdRECjG-g7g"
                                class="px-3 font-serif text-sm font-semibold text-gray-100 place-self-center hover:text-indigo-400"><i
                                    class="fab fa-teamspeak"></i> youtube</a>

                            <a href="#"
                                class="px-3 font-serif text-sm font-semibold text-gray-100 place-self-center hover:text-indigo-400"><i
                                    class="fab fa-instagram"></i> Instagram</a>
                        </div>
                    </div>
                </div>

                <hr class="h-px my-6 bg-gray-300 border-none">

                <div>
                    <p class="text-center text-gray-100">© World of Apollo - All rights reserved</p>
                </div>
            </div>
        </footer>



        <!--Scripts-->
        <script src="https://leonardosnt.github.io/mc-player-counter/dist/mc-player-counter.min.js"></script>
    </body>

</html>